body {
	margin: 0;
}


body,
button,
input,
select,
textarea {
	color: lightblack;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

a
{
  text-decoration:none;
  cursor:pointer;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 1em 0;
}

p {
	margin: 0;
	padding: 1em 0;
}

.site {
	background: #ededed;
	min-height: 100vh;
}

.site-title
{
  text-align:center;
}

.masthead, .main-content
.sidebar{
	padding: 1em 2em;
}

.main-content {
	background: white;
}
.masthead {
	background: #2185C5;
	color: white;
}

.sidebar {
	background: #FF7F66;
}

.article {
  background: yellow;
  border-radius: 2px;
  display: inline-block;
  height: 19em;
  margin: 1rem;
  position: relative;
  width: 18em;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.article:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.weather-box {
	height: 200px;
	width: 500px;
	padding: 2% 3%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f9f9f9;
	color: #202020;
	border: 3px solid #202020;
	opacity: .9;
  }
  

@supports not (display: grid) {
	.site {
		max-width: 50em;
		margin: 0 auto;
	}
}

/*GRID */

@media screen and (min-width: 600px) {
	@supports (display: grid) {

		.site {
			display: grid;
			grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
			grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
		}

		.masthead,
		.colophon {
			grid-column: span 8;
		}

		.main-content {
			grid-column: 1/8;
		}

		.sidebar {
			grid-column: 8/8;
		}

	}
}
